.title {
  display: flex;
  justify-content: space-between;
}

#nav ul {
  display: flex;
  flex-flow: column;
}

article {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}

article:last-of-type {
  border-bottom: none;
}

@media screen and (min-width: 450px) {

    #nav ul {
        flex-flow: row;
        justify-content: space-between;
    }

    .menu-trigger {
        display: none;
    }

}

@media screen and (min-width: 600px) {

    #container {
        width: 80%;
    }
    .menu-trigger {
        display: none;
    }

}

    #nav ul li {
      margin: 5px;
    }

@media screen and (min-width:1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
        "c c e"
        ". d d";
  }

  .section1 {
    grid-area: b;
  }

  .image {
    grid-area: c;
  }

  .section1 p:first-of-type {
    margin-top: 0;
  }

}

@media screen and (min-width:1200px) {
  article {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
